<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <property>
    <name>fs.s3a.access.key</name>
    <value>{{S3_ACCESS_KEY}}</value>
    </property>

  <property>
    <name>fs.s3a.secret.key</name>
    <value>{{S3_SECRET_KEY}}</value>
    </property>

  <property>
    <name>fs.s3a.connection.maximum</name>
    <value>{{S3_CONNECTION_TIMEOUT}}</value>
    </property>

</configuration>

